[submodule "modules/exiv2"]
	path = modules/exiv2
	url = https://github.com/Exiv2/exiv2.git
[submodule "modules/expat"]
	path = modules/expat
	url = https://github.com/libexpat/libexpat.git
[submodule "modules/zlib"]
	path = modules/zlib
	url = https://github.com/madler/zlib.git
[submodule "modules/libtiff"]
	path = modules/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "modules/libjpeg-turbo"]
	path = modules/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "modules/libqpsd"]
	path = modules/libqpsd
	url = https://github.com/roniemartinez/libqpsd.git
